body {
  font-size: 16px;
  font-family: 'Merriweather', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 700; 
}

.bg-green {
  background-color: green;
}

.bg-yellow {
  background-color: #ffef00;
}

.bg-orange {
  background-color: orange;
}

.bg-red {
  background-color: red;
}

.bg-purple {
  background-color: blueviolet;
}

.linear-gradient-background-body {
  background-image: linear-gradient(
    #c57110 0%,
    #0970ff 100%
  );
  background-attachment: fixed;
}

.card,
.list-group,
.card-group,
ul,
li {
  background-color: transparent;
}
